<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
    

.container{
  display: block;
    max-width: 700px;
    height: auto;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 15px;

   
    color: white;
}

.item_name
{
width:100%;
}

.list
{
width:100%;
list-style-type:none;
}

.item_name {
  display: flex;
justify-content:space-around;
 background-color: #1C1C1E;
 border-radius: 10px;
margin-top:7px;
  font-size: 26px;
  font-weight: 400;
}

.item_value
{
margin-right:10%;
}
.item_n
{
margin-left:10%;
}
    </style>
</head>
<body>

    <div class="container">
	<ul class="list">
      <li class="item_name"><p class="item_n">Weight</p><p class="item_value">{{w}}</p>
      
</li>
      <li class="item_name"><p class="item_n">Body Fat</p><p class="item_value">{{f}}</p></li>
       <li class="item_name"><p class="item_n">Muscle Mass</p><p class="item_value">{{musle_mass}}</p></li>
	<li class="item_name"><p class="item_n">Body Water</p><p class="item_value">{{body_water}}</p></li>
<li class="item_name"><p class="item_n">Heart rate</p><p class="item_value">{{heart_rate}}</p></li>
<li class="item_name"><p class="item_n">Bone Mass</p><p class="item_value">{{bone_mass}}</p></li>
<li class="item_name"><p class="item_n">Pulse Wave Velocity</p><p class="item_value">{{pvv}}</p></li>
	</ul>	

    </div>

  
    
    
  

</body>
</html>
